

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    // For materialize
    $(document).ready(function() {
        $('.collapsible').collapsible();
    })

</script>

<h6>Mutural music with {{friend}}</h6>

<a href="/friends/view" class="waves-effect waves-light btn-small">Back to all friends</a>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">album</i>Mutural favorite tracks</div>
        <div class="collapsible-body">
            <span>
                <h4>Number of mutural favorite tracks: {{ trackArray.length }}</h4>
                <br>

                <table class="striped">
                    <thead>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Popularity among all listeners</th>
                    </thead>
                    <tbody>
                        {{#each trackArray}}
                        <tr>
                            <td>
                                <a href="{{this.track_url}}">
                                <b>{{this.track_name}}</b>
                                </a> 
                            </td>
                            <td>
                                {{this.track_artist}}
                            </td>
                            <td>
                                {{this.track_popularity}} %
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </span> 
            <br><br>  
</div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">face</i>Mutural favorite artists</div>
        <div class="collapsible-body">
            <span>
                <h4>Mutural favorite artists: {{ artistArray.length }}</h4>

                <div class="row collapsible-row">

                    {{#each artistArray}}

                    <div class="artistprofile">
                        <b>{{this.artist_name}}</b><br>
                        Popularity: {{this.artist_popularity}} % <br>
                        <a href="{{this.artist_url}}">
                            <img src="{{this.artist_image}}" alt="{{this.artist_name}}" width="200">
                        </a>
                    </div>

                    {{/each}}

                </div>


            </span>
        </div>
    </li>
</ul>