

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="spync" data-description="Support me on Buy me a coffee!" data-message="" data-color="#ff813f" data-position="Right" data-x_margin="18" data-y_margin="18"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    // For materialize
    $(document).ready(function() {
        $('.collapsible').collapsible();
    })

</script>

<br>
<a href="/friends/view" class="waves-effect waves-light btn-small"><i class="material-icons va-bottom">arrow_back</i>Back to all friends</a>
<br>
<h6>Mutual music with {{friend}}</h6>
<p>Below you will find which mutual favorite tracks and mutual favorite artists you have with this friend. Your both favorite music is from the last 6 months and is updated every months when you log in to the service. You also see how popular the specific song/artist is on Spotify in general from 0-100 %.</p>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">album</i>Mutual favorite tracks</div>
        <div class="collapsible-body">
            <span>
                <h6>Number of mutual favorite tracks: {{ trackArray.length }}</h6>
                <br>

                <table class="striped">
                    <thead>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Popularity among all listeners</th>
                    </thead>
                    <tbody>
                        {{#each trackArray}}
                        <tr>
                            <td>
                                <a href="{{this.track_url}}">
                                <b>{{this.track_name}}</b>
                                </a> 
                            </td>
                            <td>
                                {{this.track_artist}}
                            </td>
                            <td>
                                {{this.track_popularity}} %
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </span> 
            <br><br>  
</div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">face</i>Mutual favorite artists</div>
        <div class="collapsible-body">
            <span>
                <h6>Number of mutual favorite artists: {{ artistArray.length }}</h6>

                <div class="row collapsible-row">

                    {{#each artistArray}}

                    <div class="artistprofile">
                        <b>{{this.artist_name}}</b><br>
                        Popularity among all listeners: {{this.artist_popularity}} % <br>
                        <a href="{{this.artist_url}}">
                            <img src="{{this.artist_image}}" alt="{{this.artist_name}}" width="240">
                        </a>
                    </div>

                    {{/each}}

                </div>


            </span>
        </div>
    </li>
</ul>