<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="spync" data-description="Support me on Buy me a coffee!" data-message="" data-color="#ff813f" data-position="Right" data-x_margin="18" data-y_margin="18"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>View friends</title>
</head>

<body>

    <div class="container login-container-friends">
    <h3>Your current friends</h3>
    <p>Here you find all friends that you have added or friends that added you to their profile. You should see their display name, their unique contact code, their profile picture and two buttons to either compare your music preferences with each other or removing the friend.</p>
    </div>

    <div class="container login-container-friends">
            <a href="/"class="waves-effect waves-light btn-small"><i class="material-icons va-bottom">home</i>Home</a>
            <a href="/friends/add"class="waves-effect waves-light btn-small"><i class="material-icons va-bottom">add</i>Add friends</a>
    </div>

<ul>
    {{#each friendArray}}

       <div class="container login-container-friends">
        <div class="card">
            <div class="card-content">
                <li><b>{{this.displayName}}</b></li>
                <li>{{this.contactCode}}</li>
                <img src="{{this.profilePicture}}" alt="{{this.name}}" width="80%">    
                
                
                <form action="./compare" method="POST" class="container">
                    <input type="hidden" id="contactCode" name="contactCode" value="{{this.contactCode}}">
                    <input type="submit" value="Compare music" class="btn-small">
                </form> 
                
                <form action="./remove" method="POST" class="container">
                    <input type="hidden" id="contactCode" name="contactCode" value="{{this.contactCode}}">
                    <input type="submit" value="Remove friend" class="red darken-1 btn-small">
                </form> 
               
               
            </div>
        </div>
    </div>
    {{/each}}
</ul>


</body>
</html>