<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>View friends</title>
</head>
<body>

    <div class="container login-container">
            <h3>Your current friends</h3>
            <a href="/"class="waves-effect waves-light btn">Home</a>
            <a href="/friends/add"class="waves-effect waves-light btn">Add more friends</a>
    </div>

<ul>
    {{#each friendArray}}

       <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <li><b>{{this.displayName}}</b></li>
                <li><b>{{this.contactCode}}</b></li>
                <img src="{{this.profilePicture}}" alt="{{this.name}}" width="300">    
                
                
                <form action="./compare" method="POST" class="col s6">
                    <input type="hidden" id="contactCode" name="contactCode" value="{{this.contactCode}}">
                    <input type="submit" value="Compare music" class="btn-small">
                </form> 
                
                <form action="./remove" method="POST" class="col s6">
                    <input type="hidden" id="contactCode" name="contactCode" value="{{this.contactCode}}">
                    <input type="submit" value="Remove friend" class="red darken-1 btn-small">
                </form> 
               
               
            </div>
        </div>
    </div>


    {{/each}}
</ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>