

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="spync" data-description="Support me on Buy me a coffee!" data-message="" data-color="#ff813f" data-position="Right" data-x_margin="18" data-y_margin="18"></script> 

<script>

    // For materialize
    $(document).ready(function() {
        $('.collapsible').collapsible();
    })

    // For copy to clipboard button
    function myFunction() {

        /* Get the text field */
        var copyText = document.getElementById("myInput");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }

    

</script>

    
<div class="login-container">
    <h3>Welcome, {{name}}</h3>
</div>

<div class="divider"></div>
    <br>

<h5>Your top artists and songs</h5>
<p>Below you will find the artists and songs you listened the most to in the last 6 months (which will be updated every month). Your music preferences were retrieved thanks to you logging in with Spotify (neither the artists or songs are sorted by internal rank). You also find your unique contact code which you can share with a friend and let them add you to their friends to be able to compare your music taste with them.</p>
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_circle</i>User-code for sharing your profile</div>
            <div class="collapsible-body">
            <span>
                <input type="text" value={{ contactCode }} id="myInput">
                <div class=button-container>
                    <button class="btn-small btn-gray" onclick="myFunction()"><i class="material-icons va-bottom">content_copy</i>Copy code</button>
                    <a class="btn-small btn-gray" href="sms:/* phone number here */&body=My contact-code for adding me as a friend at https://www.spync.se is: {{ contactCode }}"><i class="material-icons va-bottom">textsms</i>SMS code</a>
                </div>  
                 
            </span> 
            <br><br>  
        </div>
    </li>

    <li>
        <div class="collapsible-header"><i class="material-icons">face</i>Your favorite artists (top 50)</div>
        <div class="collapsible-body">
            <span>
                <div class="row collapsible-row">
           
                    {{#each artistPreferences}}

                        <div class="artistprofile">
                            <b>{{this.name}}</b><br>
                            <a href="{{this.url}}">
                                <img src="{{this.image}}" alt="{{this.name}}" width="200">
                            </a>
                        </div>
                         
                    {{/each}}
                </div>
            </span>
        </div>
    </li>
    
    <li>
        <div class="collapsible-header"><i class="material-icons">album</i>Your favorite songs (top 50)</div>
        <div class="collapsible-body">
            <span>
                <table class="striped">
                    <thead>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Popularity among all listeners</th>
                    </thead>
                    <tbody>
                        {{#each trackPreferences}}
                        <tr>
                                <td>
                                    <a href="{{this.url}}">
                                    <b>{{this.name}}</b>
                                    </a> 
                                </td>
                                <td>
                                    {{this.artist}} 
                                </td>
                                <td>
                                    {{this.popularity}} %
                                </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </span>
        </div>
    </li>
</ul>

<div class="divider"></div>


<h5>View or add friends</h5>
<p>If you have a contact-code from a friend press "add friend" to fill it in and add them, and be able to compare if you share any favorite artists or songs! If you already added a friend, press "View friends" to see them.</p>
<br>
<div class="container login-container-friends">
    <a href="/friends/add"class="waves-effect waves-light btn-small btn-center"><i class="material-icons va-bottom">add</i>Add friends</a>
    <a href="/friends/view"class="waves-effect waves-light btn-small btn-center"><i class="material-icons va-bottom">group</i>View friends</a>
</div>


<div class="login-container">
    <h6>Donations</h6>
    <i>If you enjoy the site and would like to help pay for the server costs, <b>press the coffe cup in the corner</b> to "buy me a coffe" ;) - can be done with PayPal/Creditcard </i>
</div>
<br><br>

