

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="spync" data-description="Support me on Buy me a coffee!" data-message="" data-color="#ff813f" data-position="Right" data-x_margin="18" data-y_margin="18"></script> 

<script>

    // For materialize
    $(document).ready(function() {
        $('.collapsible').collapsible();
    })

    // For copy to clipboard button
    function myFunction() {

        /* Get the text field */
        var copyText = document.getElementById("myInput");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }

    

</script>

    
<div class="login-container">
    <h3>Welcome, {{name}}</h3>
</div>
<div class="login-container">
    <i>If you enjoy the site and would like to help pay for the server costs, <b>press the coffecup in the corner</b> to "buy me a coffe" ;) - can be done with PayPal/Creditcard </i>
</div>
<div class="divider"></div>

<h5>Your music preferences</h5>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_circle</i>User-code for sharing your profile</div>
            <div class="collapsible-body">
            <span>
                <input type="text" value={{ contactCode }} id="myInput">
                <div class=button-container>
                    <button class="btn-small btn-gray" onclick="myFunction()"><i class="material-icons va-bottom">content_copy</i>Copy code</button>
                    <a class="btn-small btn-gray" href="sms:/* phone number here */&body=My contact-code for adding me as a friend at https:://www.spync.se is: {{ contactCode }}"><i class="material-icons va-bottom">textsms</i>Share as SMS</a>
                </div>  
                 
            </span> 
            <br><br>  
            <a href="/friends/add" class="waves-effect waves-light btn-small"><i class="material-icons va-bottom">add</i>Add a friend</a>

        </div>
    </li>

    <li>
        <div class="collapsible-header"><i class="material-icons">face</i>Your favorite artists (top 50)</div>
        <div class="collapsible-body">
            <span>
                <div class="row collapsible-row">
           
                    {{#each artistPreferences}}

                        <div class="artistprofile">
                            <b>{{this.name}}</b><br>
                            <a href="{{this.url}}">
                                <img src="{{this.image}}" alt="{{this.name}}" width="200">
                            </a>
                        </div>
                         
                    {{/each}}
                </div>
            </span>
        </div>
    </li>
    
    <li>
        <div class="collapsible-header"><i class="material-icons">album</i>Your favorite songs (top 50)</div>
        <div class="collapsible-body">
            <span>
                <table class="striped">
                    <thead>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Popularity among all listeners</th>
                    </thead>
                    <tbody>
                        {{#each trackPreferences}}
                        <tr>
                                <td>
                                    <a href="{{this.url}}">
                                    <b>{{this.name}}</b>
                                    </a> 
                                </td>
                                <td>
                                    {{this.artist}} 
                                </td>
                                <td>
                                    {{this.popularity}} %
                                </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </span>
        </div>
    </li>
</ul>



    <div class="container login-container button-container">
        <a href="/friends/view"class="waves-effect waves-light btn"><i class="material-icons va-bottom">group</i>View friends</a>
        <a href="/friends/add"class="waves-effect waves-light btn"><i class="material-icons va-bottom">add</i>Add friends</a>
    </div>