

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    // For materialize
    $(document).ready(function() {
        $('.collapsible').collapsible();
    })

</script>

<h3>Welcome, {{name}}</h3>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_circle</i>Your user-code for sharing your profile</div>
        <div class="collapsible-body"><span>{{ contactCode }}</span> <br><br>  
            <a href="/friends/add" class="waves-effect waves-light btn-small">Add a friend</a>
        </div>
    </li>

    <li>
        <div class="collapsible-header"><i class="material-icons">face</i>Your favorite artists (top 50)</div>
        <div class="collapsible-body">
            <span>
                <div class="row collapsible-row">
           
                    {{#each artistPreferences}}
                        <div class="artistprofile">
                            <b>{{this.name}}</b><br>
                            <a href="{{this.url}}">
                                <img src="{{this.image}}" alt="{{this.name}}" width="100">
                            </a>
                        </div>
                         
                    {{/each}}
                </div>
            </span>
        </div>
    </li>
    
    <li>
        <div class="collapsible-header"><i class="material-icons">album</i>Your favorite songs (top 50)</div>
        <div class="collapsible-body">
            <span>
                <table class="striped">
                    <thead>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Popularity among all listeners</th>
                    </thead>
                    <tbody>
                        {{#each trackPreferences}}
                        <tr>
                                <td>
                                    <a href="{{this.url}}">
                                    <b>{{this.name}}</b>
                                    </a> 
                                </td>
                                <td>
                                    {{this.artist}} 
                                </td>
                                <td>
                                    {{this.popularity}}%
                                </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                
            </span>
        </div>
    </li>
</ul>



    <div class="container login-container">
        <a href="/friends/view"class="waves-effect waves-light btn">View friends</a>
        <a href="/friends/add"class="waves-effect waves-light btn">Add friends</a>
    </div>